{% extends "yadisk_interaction/index.html" %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Download Result</title>
</head>
<body>
    {% block content %}
    <div id="download_err">
        <h1>Download Result</h1>
        {% if link %}
            <p>Download link: <a href="{{ link }}">{{ link }}</a></p>
        {% else %}
            <p>{{ error }}</p>
        {% endif %}
        <button><a class="back-link" href="javascript:history.back()">Back</a></button>
    </div>
    {% endblock %}
</body>
</html>